.component-49-child {
    position: absolute;
    height: 11.47%;
    width: 25.45%;
    top: 38.99%;
    right: 30.03%;
    bottom: 49.54%;
    left: 44.53%;
    overflow: hidden;
}
.component-49-item {
    position: absolute;
    height: 6.65%;
    width: 85.75%;
    top: 40.83%;
    right: 7.12%;
    bottom: 52.52%;
    left: 7.12%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nombre-de-lista {
    position: absolute;
    height: 4.82%;
    width: 54.2%;
    top: 41.74%;
    left: 22.9%;
    display: flex;
    align-items: center;
}
.component-49-inner {
    position: absolute;
    height: 11.47%;
    width: 25.45%;
    top: 51.38%;
    right: 30.03%;
    bottom: 37.16%;
    left: 44.53%;
    overflow: hidden;
}
.rectangle-div {
    position: absolute;
    height: 6.65%;
    width: 85.75%;
    top: 53.21%;
    right: 7.12%;
    bottom: 40.14%;
    left: 7.12%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nombre-de-lista1 {
    position: absolute;
    height: 4.82%;
    width: 54.2%;
    top: 54.13%;
    left: 22.9%;
    display: flex;
    align-items: center;
}
.frame-div {
    position: absolute;
    height: 11.47%;
    width: 25.45%;
    top: 62.84%;
    right: 30.03%;
    bottom: 25.69%;
    left: 44.53%;
    overflow: hidden;
}
.component-49-child1 {
    position: absolute;
    height: 6.65%;
    width: 85.75%;
    top: 64.68%;
    right: 7.12%;
    bottom: 28.67%;
    left: 7.12%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nombre-de-lista2 {
    position: absolute;
    height: 4.82%;
    width: 54.2%;
    top: 65.6%;
    left: 22.9%;
    display: flex;
    align-items: center;
}
.component-49-child2 {
    position: absolute;
    height: 11.47%;
    width: 25.45%;
    top: 74.31%;
    right: 30.03%;
    bottom: 14.22%;
    left: 44.53%;
    overflow: hidden;
}
.component-49-child3 {
    position: absolute;
    height: 6.65%;
    width: 85.75%;
    top: 76.15%;
    right: 7.12%;
    bottom: 17.2%;
    left: 7.12%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nombre-de-lista3 {
    position: absolute;
    height: 4.82%;
    width: 54.2%;
    top: 77.06%;
    left: 22.9%;
    display: flex;
    align-items: center;
}
.component-49-child4 {
    position: absolute;
    height: 11.47%;
    width: 25.45%;
    top: 85.78%;
    right: 30.03%;
    bottom: 2.75%;
    left: 44.53%;
    overflow: hidden;
}
.component-49-child5 {
    position: absolute;
    height: 6.65%;
    width: 85.75%;
    top: 87.61%;
    right: 7.12%;
    bottom: 5.73%;
    left: 7.12%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nombre-de-lista4 {
    position: absolute;
    height: 4.82%;
    width: 54.2%;
    top: 88.53%;
    left: 22.9%;
    display: flex;
    align-items: center;
}
.texture-icon {
    position: absolute;
    height: 17.32%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 82.68%;
    left: 0%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.component-20-child {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 77.3%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.component-20-item {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 37.5%;
    bottom: 0%;
    left: 39.8%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.component-20-inner {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 0%;
    bottom: 0%;
    left: 77.3%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.listas {
    position: absolute;
    top: 0%;
    left: 4.28%;
}
.config {
    position: absolute;
    top: 0%;
    left: 80.26%;
}
.grupos {
    position: absolute;
    top: 0%;
    left: 42.76%;
}
.component-20 {
    position: absolute;
    height: 8.83%;
    width: 77.35%;
    top: 2.29%;
    right: 11.2%;
    bottom: 88.88%;
    left: 11.45%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto;
}
.notebook-fill-icon {
    position: absolute;
    height: 6.08%;
    width: 12.47%;
    top: 4.47%;
    right: 74.05%;
    bottom: 89.45%;
    left: 13.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.user-duotone-icon {
    position: absolute;
    height: 5.5%;
    width: 10.43%;
    top: 5.05%;
    right: 46.82%;
    bottom: 89.45%;
    left: 42.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.user-duotone-icon1 {
    position: absolute;
    height: 5.5%;
    width: 10.43%;
    top: 5.05%;
    right: 43.51%;
    bottom: 89.45%;
    left: 46.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.user-duotone-icon2 {
    position: absolute;
    height: 5.5%;
    width: 10.43%;
    top: 5.05%;
    right: 40.2%;
    bottom: 89.45%;
    left: 49.36%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.vector-icon {
    position: absolute;
    height: 4.42%;
    width: 10.18%;
    top: 5.62%;
    right: 15.01%;
    bottom: 89.97%;
    left: 74.81%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.image-5-icon {
    position: absolute;
    height: 16.97%;
    width: 36.64%;
    top: 22.82%;
    right: 28.5%;
    bottom: 60.21%;
    left: 34.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.noise-texture {
    position: absolute;
    height: 69.38%;
    width: 93.13%;
    top: 30.62%;
    right: 2.04%;
    bottom: 0%;
    left: 4.83%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.component-49 {
    position: absolute;
    top: 80px;
    left: 28px;
    width: 393px;
    height: 872px;
}
.component-50-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #9b1111;
}
.nueva-tarea {
    position: absolute;
    top: 23.26%;
    left: 14.53%;
}
.component-50 {
    position: absolute;
    height: 7.72%;
    width: 24.12%;
    top: 6.6%;
    right: 37.84%;
    bottom: 85.68%;
    left: 38.05%;
}
.volver {
    position: absolute;
    top: 5.73%;
    left: 5.72%;
    font-size: 16px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer; /* Agrega un cursor para que sea obvio que es interactivo */
    z-index: 10; /* Asegura que esté por encima de la textura */
}
.form {
    position: absolute;
    height: 102%;
    width: 100.31%;
    top: -1%;
    right: -0.16%;
    bottom: -1%;
    left: -0.16%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(217, 217, 217, 0.85);
    box-sizing: border-box;
}
.introduzca-tarea {
    position: absolute;
    top: 32%;
    left: 4.69%;
    text-shadow: 1px 0 0 rgba(217, 217, 217, 0.85), 0 1px 0 rgba(217, 217, 217, 0.85), -1px 0 0 rgba(217, 217, 217, 0.85), 0 -1px 0 rgba(217, 217, 217, 0.85);
}
.form-parent {
    position: absolute;
    height: 59.52%;
    width: 100%;
    top: 40.48%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.qu-hay-que {
    position: absolute;
    top: 0%;
    left: 4.06%;
    font-size: 16px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
}
.component-3 {
    position: absolute;
    height: 14.79%;
    width: 96.39%;
    top: 0%;
    right: 2.41%;
    bottom: 85.21%;
    left: 1.2%;
}
.component-5 {
    position: absolute;
    height: 14.79%;
    width: 96.39%;
    top: 85.21%;
    right: 3.61%;
    bottom: 0%;
    left: 0%;
}
.component-6-child {
    position: absolute;
    height: 32.87%;
    width: 16.14%;
    top: 25.17%;
    right: 0%;
    bottom: 41.96%;
    left: 83.86%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.form2 {
    position: absolute;
    height: 102%;
    width: 100.38%;
    top: -1%;
    right: -0.19%;
    bottom: -1%;
    left: -0.19%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(217, 217, 217, 0.85);
    box-sizing: border-box;
}
.component-4 {
    position: absolute;
    top: 0px;
    left: -11px;
    width: 264px;
    height: 84px;
}
.component-4-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.component-6-inner {
    position: absolute;
    height: 58.74%;
    width: 83.54%;
    top: 0%;
    right: 16.14%;
    bottom: 41.26%;
    left: 0.32%;
}
.component-6-item {
    position: absolute;
    height: 32.87%;
    width: 16.14%;
    top: 66.43%;
    right: 0.32%;
    bottom: 0.7%;
    left: 83.54%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.group-div {
    position: absolute;
    height: 58.74%;
    width: 83.54%;
    top: 41.26%;
    right: 16.46%;
    bottom: 0%;
    left: 0%;
}
.component-6 {
    position: absolute;
    height: 25.18%;
    width: 95.18%;
    top: 19.72%;
    right: 0%;
    bottom: 55.11%;
    left: 4.82%;
}
.form4 {
    position: absolute;
    height: 8.98%;
    width: 79.82%;
    top: 48.33%;
    right: 18.52%;
    bottom: 42.69%;
    left: 1.66%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(217, 217, 217, 0.85);
    box-sizing: border-box;
}
.hora-de-fin {
    position: absolute;
    top: 51.23%;
    left: 5.53%;
    text-shadow: 1px 0 0 rgba(217, 217, 217, 0.85), 0 1px 0 rgba(217, 217, 217, 0.85), -1px 0 0 rgba(217, 217, 217, 0.85), 0 -1px 0 rgba(217, 217, 217, 0.85);
}
.component-51-child {
    position: absolute;
    height: 8.27%;
    width: 15.36%;
    top: 48.59%;
    right: 0.3%;
    bottom: 43.13%;
    left: 84.34%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.component-51 {
    position: absolute;
    height: 70.73%;
    width: 34.51%;
    top: 23.54%;
    right: 32.54%;
    bottom: 5.73%;
    left: 32.95%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    font-family: Montserrat;
}
.texture-icon1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.component-52-child {
    position: absolute;
    height: 6.97%;
    width: 5.82%;
    top: 8.59%;
    right: 88.98%;
    bottom: 84.43%;
    left: 5.2%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.date-range-fill-icon {
    position: absolute;
    height: 4.61%;
    width: 3.95%;
    top: 42.71%;
    right: 33.37%;
    bottom: 52.68%;
    left: 62.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.alarmclock-icon {
    position: absolute;
    height: 5.11%;
    width: 4.16%;
    top: 49.69%;
    right: 33.16%;
    bottom: 45.21%;
    left: 62.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.alarmclock-icon1 {
    position: absolute;
    height: 5.11%;
    width: 4.16%;
    top: 58.28%;
    right: 33.16%;
    bottom: 36.61%;
    left: 62.68%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.sign-out-circle-icon {
    position: absolute;
    height: 3.99%;
    width: 3.43%;
    top: 9.71%;
    right: 90.23%;
    bottom: 86.3%;
    left: 6.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-52 {
    position: absolute;
    top: 133px;
    left: 441px;
    width: 962px;
    height: 803px;
    font-size: 25px;
    font-family: Sen;
}
.nuevo-evento {
    width: 1440px;
    position: relative;
    background-color: #cd4640;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
}




.form-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  z-index: 10; /* Asegura que esté por encima de la textura */
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

.form-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.2s;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #0a0a0b;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

button {
    padding: 10px 20px;
    background-color: #c33636;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

button:hover {
    background-color: #0056b3;
    z-index: 10; /* Asegura que esté por encima de la textura */

}

.error {
    color: red;
    font-size: 12px;
}