.subir-archivo-child {
    position: absolute;
    top: 962px;
    left: -53px;
    width: 1822px;
    height: 56px;
    display: none;
}
.component-12-child {
    position: absolute;
    height: 58%;
    width: 100%;
    top: 16%;
    right: 0%;
    bottom: 26%;
    left: 0%;
    border-radius: 10px;
    background-color: #9b1111;
}
.component-12-item {
    position: absolute;
    height: 100%;
    width: 29.67%;
    top: 0%;
    right: 26.71%;
    bottom: 0%;
    left: 43.62%;
    overflow: hidden;
}
.nombre-de-lista {
    position: absolute;
    height: 42%;
    width: 63.2%;
    top: 24%;
    left: 18.4%;
    display: flex;
    align-items: center;
}
.component-12 {
    position: absolute;
    height: 19.69%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 80.31%;
    left: 0%;
}
.component-14 {
    position: absolute;
    height: 19.69%;
    width: 100%;
    top: 40.94%;
    right: 0%;
    bottom: 39.37%;
    left: 0%;
}
.component-15 {
    position: absolute;
    height: 19.69%;
    width: 100%;
    top: 60.63%;
    right: 0%;
    bottom: 19.69%;
    left: 0%;
}
.component-16 {
    position: absolute;
    height: 19.69%;
    width: 100%;
    top: 80.31%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.component-13 {
    position: absolute;
    height: 19.69%;
    width: 100%;
    top: 21.26%;
    right: 0%;
    bottom: 59.06%;
    left: 0%;
}
.component-18 {
    position: absolute;
    height: 59.14%;
    width: 85.75%;
    top: 36.79%;
    right: 5.85%;
    bottom: 4.07%;
    left: 8.4%;
}
.texture-icon {
    position: absolute;
    height: 17.58%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 82.42%;
    left: 0%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.noise-texture {
    position: absolute;
    height: 70.43%;
    width: 93.13%;
    top: 29.57%;
    right: 3.56%;
    bottom: 0%;
    left: 3.31%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.image-4-icon {
    position: absolute;
    height: 17.23%;
    width: 36.64%;
    top: 22.24%;
    right: 31.04%;
    bottom: 60.54%;
    left: 32.32%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.component-19-child {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 77.3%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.component-19-item {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 37.5%;
    bottom: 0%;
    left: 39.8%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.component-19-inner {
    position: absolute;
    height: 75.32%;
    width: 22.7%;
    top: 24.68%;
    right: 0%;
    bottom: 0%;
    left: 77.3%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.listas {
    position: absolute;
    top: 0%;
    left: 4.28%;
}
.config {
    position: absolute;
    top: 0%;
    left: 80.26%;
}
.grupos {
    position: absolute;
    top: 0%;
    left: 42.76%;
}
.component-19 {
    position: absolute;
    height: 8.96%;
    width: 77.35%;
    top: 3.49%;
    right: 11.45%;
    bottom: 87.54%;
    left: 11.2%;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto;
}
.vector-icon {
    position: absolute;
    height: 4.48%;
    width: 10.18%;
    top: 6.87%;
    right: 15.27%;
    bottom: 88.65%;
    left: 74.55%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.user-duotone-icon {
    position: absolute;
    height: 5.59%;
    width: 10.43%;
    top: 6.29%;
    right: 47.07%;
    bottom: 88.13%;
    left: 42.49%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.user-duotone-icon1 {
    position: absolute;
    height: 5.59%;
    width: 10.43%;
    top: 6.29%;
    right: 43.77%;
    bottom: 88.13%;
    left: 45.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.user-duotone-icon2 {
    position: absolute;
    height: 5.59%;
    width: 10.43%;
    top: 6.29%;
    right: 40.46%;
    bottom: 88.13%;
    left: 49.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.notebook-fill-icon {
    position: absolute;
    height: 6.17%;
    width: 12.47%;
    top: 5.7%;
    right: 74.3%;
    bottom: 88.13%;
    left: 13.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer; /* Agrega un cursor para que sea obvio que es interactivo */
    z-index: 10; /* Asegura que esté por encima de la textura */
}
.component-43 {
    position: absolute;
    top: 104px;
    left: 27px;
    width: 393px;
    height: 859px;
    font-size: 24px;
    color: #fff;
}
.texture-icon1 {
    position: absolute;
    height: 78.42%;
    width: 66.81%;
    top: 14.94%;
    right: 2.64%;
    bottom: 6.64%;
    left: 30.56%;
    border-radius: 50px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.35;
    mix-blend-mode: overlay;
}
.component-46-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-46-item {
    position: relative;
    width: 0px;
    height: 0px;
}
.archivo {
    position: absolute;
    height: 4.58%;
    width: 33.09%;
    top: 2.52%;
    left: 7.25%;
    display: flex;
    align-items: center;
}
.component-46 {
    position: absolute;
    height: 42.68%;
    width: 28.75%;
    top: 39.55%;
    right: 21.04%;
    bottom: 17.77%;
    left: 50.21%;
}
.volver {
    position: absolute;
    top: 19.34%;
    left: 35.28%;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.9);
}
.subir-archivo-item {
    position: absolute;
    height: 5.47%;
    width: 3.89%;
    top: 21.48%;
    right: 61.18%;
    bottom: 73.05%;
    left: 34.93%;
    border-radius: 10px;
    background-color: #d9d9d9;
}
.subir-archivo-inner {
    position: absolute;
    height: 2.83%;
    width: 28.75%;
    top: 43.95%;
    right: 21.04%;
    bottom: 53.22%;
    left: 50.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.escoge-un-archivo {
    position: absolute;
    top: 44.34%;
    left: 51.94%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 0 0 rgba(217, 217, 217, 0.85), 0 1px 0 rgba(217, 217, 217, 0.85), -1px 0 0 rgba(217, 217, 217, 0.85), 0 -1px 0 rgba(217, 217, 217, 0.85);
}
.file-dock-fill-icon {
    position: absolute;
    height: 2.34%;
    width: 1.67%;
    top: 44.24%;
    right: 24.93%;
    bottom: 53.42%;
    left: 73.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nombre {
    position: absolute;
    height: 1.95%;
    width: 9.51%;
    top: 52.25%;
    left: 51.88%;
    display: flex;
    align-items: center;
}
.nombre-con-el {
    position: absolute;
    top: 56.64%;
    left: 51.88%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 0 0 rgba(217, 217, 217, 0.85), 0 1px 0 rgba(217, 217, 217, 0.85), -1px 0 0 rgba(217, 217, 217, 0.85), 0 -1px 0 rgba(217, 217, 217, 0.85);
}
.categora {
    position: absolute;
    height: 1.95%;
    width: 9.51%;
    top: 61.91%;
    left: 51.67%;
    display: flex;
    align-items: center;
}
.form {
    position: absolute;
    height: 102%;
    width: 100.38%;
    top: -1%;
    right: -0.19%;
    bottom: -1%;
    left: -0.19%;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(217, 217, 217, 0.85);
    box-sizing: border-box;
}
.selecciona-una-lista {
    position: absolute;
    top: 32%;
    left: 4.69%;
    text-shadow: 1px 0 0 rgba(217, 217, 217, 0.85), 0 1px 0 rgba(217, 217, 217, 0.85), -1px 0 0 rgba(217, 217, 217, 0.85), 0 -1px 0 rgba(217, 217, 217, 0.85);
}
.form-parent {
    position: absolute;
    height: 4.88%;
    width: 18.33%;
    top: 64.94%;
    right: 30%;
    bottom: 30.18%;
    left: 51.67%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}
.rectangle-div {
    position: absolute;
    height: 2.25%;
    width: 1.81%;
    top: 66.21%;
    right: 27.22%;
    bottom: 31.54%;
    left: 70.97%;
    border-radius: 10px;
    background-color: #9b1111;
}
.polygon-icon {
    position: absolute;
    height: 0.98%;
    width: 0.69%;
    top: 66.89%;
    right: 30.9%;
    bottom: 32.13%;
    left: 68.4%;
    border-radius: 1px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.rectangle-icon {
    position: absolute;
    height: 4.2%;
    width: 11.94%;
    top: 73.44%;
    right: 29.44%;
    bottom: 22.36%;
    left: 58.61%;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cargar {
    position: absolute;
    top: 74.41%;
    left: 62.29%;
    font-size: 20px;
    font-family: Sen;
    color: #fff;
    text-align: center;
}
.component-47-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.cargar-archivo {
    position: absolute;
    height: 76.79%;
    width: 61.67%;
    top: 10.71%;
    left: 20.67%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.component-47 {
    position: absolute;
    height: 5.47%;
    width: 20.83%;
    top: 22.36%;
    right: 23.75%;
    bottom: 72.17%;
    left: 55.42%;
    text-align: center;
    font-size: 25px;
    color: #fafafa;
}
.sign-out-circle-icon {
    position: absolute;
    height: 3.13%;
    width: 2.29%;
    top: 22.36%;
    right: 62.01%;
    bottom: 74.51%;
    left: 35.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer; /* Agrega un cursor para que sea obvio que es interactivo */
    z-index: 10; /* Asegura que esté por encima de la textura */
}
.subir-archivo {
    width: 1440px;
    position: relative;
    background-color: #cd4640;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #262626;
    font-family: Montserrat;
}

